SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
TESSERACT_CMD_PATH=C:\Program Files\Tesseract-OCR\tesseract.exe
GEMINI_API_KEY=AQ.Ab8RN6JN5mR-fBpgKLZS9fGiOzz_QC57WkyNtTWN4Fnsdvs0oQ
LIBREOFFICE_PATH=C:\Program Files\LibreOffice\program\soffice.exe

